@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #5d341f;
}

body {
  font-family: "Mali", cursive;
  background-color: #FFFDF9;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 124px;
}

footer, #navbar, #sidebar {
  padding: 12px;
  background-color: #ffce7a;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar img {
  height: 100px;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#sidebar ul {
  list-style: none;
}

#sidebar {
  width: 180px;
  background-color: #FCE3A9;
  border-right: 1px solid #5d341f55;
}

#sidebar a {
  text-decoration: none;
  font-size: 24px;
}

#sidebar ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidebar > ul > li {
  background-color: #5d341f33;
  padding: 8px 8px 8px 12px;
  box-shadow: 2px 2px 2px #00000055;
  border-radius: 6px;
  border: 1px solid #5d341f99;
}

.container {
  display: flex;
  flex: 1;
  gap: 20px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #5d341f55;
  border-radius: 12px;
  align-items: center;
  overflow: hidden;
  height: 300px;
  justify-content: space-between;
  box-shadow: 2px 2px 2px #00000055;
  transition: transform 200ms ease, opacity 200ms ease;
}

.recipe-card:hover {
  transform:translateY(-10px);
  opacity: 0.95;
}

.recipe-card-image {
  width: 100%;
  height: 200px;
  background-color: #ffce7a;
  padding: 14px;
  border-bottom: 1px solid #5d341f55;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.recipe-card-image svg {
  position: absolute;
  right: 10px;
  top: 12px;
  transition: transform 200ms ease, opacity 200ms ease;
}

.recipe-card-image svg:hover {
  transform: scale(1.08);
  opacity: 0.95;
}

.recipe-card-image img {
  height: 100%;
}

.recipe-card-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.recipes-list {
  display: flex;
  margin: 40px 0px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.delete-button {
  cursor: pointer;
}

#main-content-container {
  flex: 1 1;
}

html,body {
  height: 100%;
}

#root {
  height: 100%;
}

a, a:active, a:visited {
  text-decoration: none;
}

.active-link {
  color: #FF0000;
}

.inactive-link {
  color: #5d341f;
}

#team-members-container {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

#team-members-container > div {
  width: 50%;
  background-color: #fef2d7;
}